body {
    background-color: #FFFFFF;
    color: #000000;
}

h1 {
    color: rgb(0, 0, 255);
    background-color: rgb(255, 255, 0);
    font-size: 36px;
}

p {
    color: #777777;
    font-size: 14px;
}